body{
    margin: 75px 0 0 0;
    box-sizing: border-box;
    display: flex;
    align-items: stretch;
}

header{
    position: fixed;
    height: 75px;
    width: 100vw;
    top: 0;
}
nav{
    width: 100%;
    height: 100%;
    display: flex;
    background: white;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.2);
    align-items: center;
    justify-content:space-around;
    line-height: 75px;
}

#Logo{
    flex-grow: 1;
}
#imgnavlog{
    flex-grow: 1;
    width: 4px;
}
#Msgs,#Not,#Menu{
    flex-grow: 1;
}

#Inicio, #Siguiendo, #explorar, #User{
    flex-grow: 2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#searchbar{
    flex-grow: 9;
    display: flex;
    justify-content: center;
    height: 80%;
    margin-top: 16px;
}
#searchbar input{
    width: 90%;
    height: 60%;
    border-radius: 50px;
    border: 1px solid rgba(0,0,0,0.3);
}

div.col{
    width: 16.59vw;
    height: 100%;
   /* border-left: 1px solid #2c3e50;
    border-right: 1px solid #2c3e50;*/

  
}

div.col div{
   /* border-bottom: 1px solid #2c3e50;*/
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
    margin-left: 15px;
   
}

div.col div.dos{
    height: 200px;
    background: #f9fafc;
   
   
}
div.col div.cuatro{
    height: 400px;
  /*  background: #f00202f8;*/
}
div.col div.seis{
    height: 600px;
    /*background: #34495e;*/
}
img.imgdiv{
    width:100%; 
    height:100%;
    border-radius: 20px 20px 20px 20px;
   
    
}

img.imgnavlog{
    width:40px; 
    height:40px;
    /*border-radius: 20px 20px 20px 20px;*/
   
    
}
.buscar {
    height: 100px;
  }
  .buscar{
    text-align: center;
    line-height: 100px;/* Centrado vertical */
  }